<!-- <h1>{{title}}</h1> -->
<nav>
  <!-- <a routerLink="/dashboard">Dashboard</a> -->
  <!-- <a routerLink="/heroes">Heroes</a> -->
  <!-- <a routerLink="/ngmodel">ngmodelComp</a> -->
  <!-- <a routerLink="/directive">directive</a> -->
</nav>
<!-- <router-outlet></router-outlet> -->
<!-- <app-messages></app-messages> -->

<!-- <p appHighlight="red">Highlighted 颜色</p>
<div appGridItem>
  <div appGridItemTitle>title</div>
</div>

<p>{{date | appAgo}}</p> -->

<app-ngzone></app-ngzone>
<app-operator1></app-operator1>
<app-operator2></app-operator2>

