a {
  grid-template-areas:
    'a a'
    'b b b'; /* 无效的东西，`grid-area`的值无效 */
  colr: hsl(20deg 10% 30% / 5%); /* 有问题的东西，例如属性名称拼写错误 */
}

/* 有疑问的东西，例如重复选择器 */
a {
  --Foo: 1rem; /* 强制命名模式，例如对于自定义属性采用短横线 */
  --bar-bar: 2rem;
  width: 200px; /*  禁止某些规则，例如具体某个单位 */
  height: 10rem;
}

/* 设定限制，例如ID选择器的数量 */
#foo #bar {
  color: red; 
}



